
<div class="card mt-6">
 
  <div class="card-body">
      <form #productForm="ngForm" (ngSubmit)="onSubmit(productForm)">
          <!-- TO UPDATE -->
          <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="productService.selectedProduct.$key">

          <div class="form-group">
            <input 
              type="text"
              class="form-control"
              name="tipo"
              #tipo="ngModel"
              [(ngModel)]="productService.selectedProduct.tipo"
              placeholder="tipo"
              >
          </div>
          <div class="form-group">
              <input 
                type="text"
                class="form-control"
                name="marca"
                #marca="ngModel"
                [(ngModel)]="productService.selectedProduct.marca"
                placeholder="marca"
                >
            </div>
          <div class="form-group">
            <input 
              type="text"
              class="form-control"
              name="serie"
              #serie="ngModel"
              [(ngModel)]="productService.selectedProduct.serie"
              placeholder="serie"
              >
          </div>

            <div class="form-group">
                <input 
                  type="text"
                  class="form-control"
                  name="portacion"
                  #portacion="ngModel"
                  [(ngModel)]="productService.selectedProduct.portacion"
                  placeholder="portacion"
                  >
              </div>
          <div class="form-group">
            
              <input 
                type="text"
                class="form-control"
                name="tenencia"
                #tenencia="ngModel"
                [(ngModel)]="productService.selectedProduct.tenencia"
                placeholder="tenencia"
                >
           
            
          

          </div>
      
        
        
          <div class="form-group">
              <input 
                type="text"
                class="form-control"
                name="puesto"
                #puesto="ngModel"
                [(ngModel)]="productService.selectedProduct.puesto"
                placeholder="puesto"
                >
            </div>
            <div class="form-group">
              <input 
                type="text"
                class="form-control"
                name="usuario"
                #usuario="ngModel"
                [(ngModel)]="productService.selectedProduct.usuario"
                placeholder="usuario"
                >
            </div>
            <div class="form-group">
              <input 
                type="text"
                class="form-control"
                name="estatus"
                #estatus="ngModel"
                [(ngModel)]="productService.selectedProduct.estatus"
                placeholder="estatus"
                >
            </div>
            <div class="form-group">
              <input 
                type="text"
                class="form-control"
                name="descripcion"
                #descripcion="ngModel"
                [(ngModel)]="productService.selectedProduct.descripcion"
                placeholder="descripcion"
                >
            </div>
          <div class="form-group">
            <button class="btn btn-primary" type="submit">
                <i class="fas fa-plus-circle"></i> AÑADIR
            </button>
            <button class="btn btn-secondary" type="reset" (click)="resetForm(productForm)">
                <i class="fas fa-sync-alt"></i> LIMPIAR
            </button>
          </div>
        </form>
  </div>
</div>