
  
  <div class="card-body">
      
     
      <table class="table table-striped ">
        <thead class="thead-dark">
      
        <tr>
            <th><h6> Tipo </h6></th>
            <th><h6> Marca </h6></th>
            <th><h6> Serie </h6></th>
            <th><h6> Tenencia </h6></th>
            <th><h6> Portacion </h6></th>
            <th><h6> Puesto </h6></th>
            <th><h6> Usuario </h6></th>
            <th><h6> Estatus </h6></th>
            <th><h6> Descripcion </h6></th>
            <th><h6> Editar </h6></th>
            <th><h6> Eliminar </h6></th>
            </tr>  </thead>
            <tbody>
            <tr *ngFor="let product of productList">
          <td>{{product.tipo}}</td>
          <td>{{product.marca}}</td>
          <td>{{product.serie}}</td>
          <td>{{product.tenencia}}</td>
          <td>{{product.portacion}}</td>
          <td>{{product.puesto}}</td>
          <td>{{product.usuario}}</td>
          <td>{{product.estatus}}</td>
          <td>{{product.descripcion}}</td>
          <td>
            <a class="btn btn-secondary text-white" (click)="onEdit(product)">
                <i class="far fa-edit"></i>
            </a></td>
          <td>
            <a class="btn btn-danger text-white" (click)="onDelete(product.$key)">
                <i class="fas fa-trash-alt"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
